<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-shopping text-center">
                <thead>
                    <tr>
                        <th>Product image</th>
                        <th>Product</th>
                        <th class="th-description">description</th>
                        <th class="th-description ">Category</th>
                        <th >Start Price</th>
                    </tr>
                </thead>
                <tbody *ngFor="let product of userProducts; index as index">
                    <tr>
                        <td >
                            <div class="img-container m-auto">
                                <img class="text-center" src="{{product.main_img}}" alt="...">
                            </div>
                        </td>
                        <td class="td-name w-25">
                            <a>{{ product.name }}</a>
                            <!-- by ? TODO: send userId, get User name form Db display it below -->
                            <br><small>By: Me </small>
                        </td>
                        <td class="w-25 ">
                            {{ product.description }}
                        </td>
                        <td>
                            {{ product.category }}
                        </td>
                        <td class="text-center">
                            &#x20AC; {{ product.value }}
                        </td>
                        <td class="td-actions">
                            <button type="button" rel="tooltip" class="btn btn-neutral btn-just-icon" (click)='handleDelete(product._id)'>
                                <i class="now-ui-icons ui-1_simple-remove"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
          </div>
    </div>
</div>
