.is-error {
  color: red;
  text-align: center;
}

.btn {
  width: 150px;
  font-size: 18px;
}

.shadow {
  background: #615e5e;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  position: absolute;
  z-index: 1;
}
