<nav class="navbar navbar-expand-lg navbar-transparent bg-primary"
     [ngClass]="{'fixed-top': isFixed, 'navbar-transparent' : isTransparent}" [attr.color-on-scroll]="detachOnScroll">
  <div class="container">
    <div class="navbar-translate">
      <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-bar bar1"></span>
        <span class="navbar-toggler-bar bar2"></span>
        <span class="navbar-toggler-bar bar3"></span>
      </button>
      <a class="navbar-brand" routerLink="/">
        <img src="../../../../assets/img/logos/logo-multi.png" alt="logo" class="img-fluid" style="width: 200px; position:sticky;">
      </a>
    </div>

    <div class="collapse navbar-collapse show"
         style="font-size: 14pt; font-weight: bold; font-family: 'Lato', sans-serif;"
         data-nav-image="./assets/img//blurred-image-1.jpg">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link" routerLink="/">
            Home
          </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link" routerLink="/products">
            Products
          </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link" routerLink="/contact">
            Contact Us
          </a>
        </li>
      </ul>

      <ul class="nav navbar-nav">
<!-- Temporary button -->
        <!-- <li class="nav-item">
          <a class="nav-link" (click)="addProducts()">
            TEMPORARY - ADD PRODUCTS using API
          </a>
        </li> -->
<!-- end of temporary button -->
        <li  class="nav-item" *ngIf="!isLoggedIn">
          <a class="nav-link" routerLink="/login">
            Login
          </a>
        </li>
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" class="nav-item" *ngIf="!isLoggedIn">
          <a class="nav-link" routerLink="/signup">
            Signup
          </a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link" (click)="logout()">
            Logout
          </a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link" routerLink="/account">
            <i style="color: red; font-size: 14pt;" class="now-ui-icons users_single-02"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
