<nav class="navbar navbar-expand-lg navbar-transparent bg-primary" [ngClass]="{'fixed-top': isFixed, 'navbar-transparent' : isTransparent}" color-on-scroll="200">
  <span class="text-danger">{{isFixed}}</span>
  <div class="container">
    <div class="navbar-translate">
      <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-bar bar1"></span>
        <span class="navbar-toggler-bar bar2"></span>
        <span class="navbar-toggler-bar bar3"></span>
      </button>
      <a class="navbar-brand" routerLink="/">
        Countdown logo
<!--        <img src="assets/img/app/svg18.svg" alt="logo" class="img-fluid">-->
      </a>
    </div>

    <div class="collapse navbar-collapse show" data-nav-image="./assets/img//blurred-image-1.jpg">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link" routerLink="/">
            Home
          </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link" routerLink="/products">
            Products
          </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link" routerLink="/contact">
            Contact Us
          </a>
        </li>
      </ul>

      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">
            Social Media
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            Social Media
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            Social Media
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
