<div _ngcontent-hdu-c1="" class="content">
    <div _ngcontent-hdu-c1="" class="container">
        <div _ngcontent-hdu-c1="" class="row">
            <div _ngcontent-hdu-c1="" class="col-md-4 ml-auto mr-auto">
                <div _ngcontent-hdu-c1="" class="info info-horizontal">
                    <div _ngcontent-hdu-c1="" class="icon icon-primary"><i _ngcontent-hdu-c1="" class="now-ui-icons media-2_sound-wave"></i></div>
                    <div _ngcontent-hdu-c1="" class="description">
                        <h5 _ngcontent-hdu-c1="" class="info-title">Marketing</h5>
                        <p _ngcontent-hdu-c1="" class="description"> We've created the marketing campaign of the website. It was a very interesting collaboration. </p>
                    </div>
                </div>
                <div _ngcontent-hdu-c1="" class="info info-horizontal">
                    <div _ngcontent-hdu-c1="" class="icon icon-primary"><i _ngcontent-hdu-c1="" class="now-ui-icons media-1_button-pause"></i></div>
                    <div _ngcontent-hdu-c1="" class="description">
                        <h5 _ngcontent-hdu-c1="" class="info-title">Fully Coded in HTML5</h5>
                        <p _ngcontent-hdu-c1="" class="description"> We've developed the website with HTML5 and CSS3. The client has access to the code using GitHub. </p>
                    </div>
                </div>
                <div _ngcontent-hdu-c1="" class="info info-horizontal">
                    <div _ngcontent-hdu-c1="" class="icon icon-info"><i _ngcontent-hdu-c1="" class="now-ui-icons users_single-02"></i></div>
                    <div _ngcontent-hdu-c1="" class="description">
                        <h5 _ngcontent-hdu-c1="" class="info-title">Built Audience</h5>
                        <p _ngcontent-hdu-c1="" class="description"> There is also a Fully Customizable CMS Admin Dashboard for this product. </p>
                    </div>
                </div>
            </div>
            <div _ngcontent-hdu-c1="" class="col-md-4 mr-auto">
                <div _ngcontent-hdu-c1="" class="card card-signup">
                    <div _ngcontent-hdu-c1="" class="card-body">
                        <h4 _ngcontent-hdu-c1="" class="card-title text-center">Register</h4>
                        <div _ngcontent-hdu-c1="" class="social text-center">
                            <button _ngcontent-hdu-c1="" class="btn btn-icon btn-round btn-twitter"><i _ngcontent-hdu-c1="" class="fab fa-twitter"></i></button>
                            <button _ngcontent-hdu-c1="" class="btn btn-icon btn-round btn-dribbble"><i _ngcontent-hdu-c1="" class="fab fa-dribbble"></i></button>
                            <button _ngcontent-hdu-c1="" class="btn btn-icon btn-round btn-facebook"><i _ngcontent-hdu-c1="" class="fab fa-facebook"></i></button>
                            <h5 _ngcontent-hdu-c1="" class="card-description"> or be classical </h5></div>
                        <form _ngcontent-hdu-c1="" action="#" class="form" method="">
                            <div _ngcontent-hdu-c1="" class="input-group">
                                <div _ngcontent-hdu-c1="" class="input-group-prepend"><span _ngcontent-hdu-c1="" class="input-group-text"><i _ngcontent-hdu-c1="" class="now-ui-icons users_circle-08"></i></span></div>
                                <input _ngcontent-hdu-c1="" autocomplete="fullname" class="form-control" placeholder="First Name..." type="text">
                            </div>
                            <div _ngcontent-hdu-c1="" class="input-group">
                                <div _ngcontent-hdu-c1="" class="input-group-prepend"><span _ngcontent-hdu-c1="" class="input-group-text"><i _ngcontent-hdu-c1="" class="now-ui-icons text_caps-small"></i></span></div>
                                <input _ngcontent-hdu-c1="" autocomplete="name" class="form-control" placeholder="Last Name..." type="text">
                            </div>
                            <div _ngcontent-hdu-c1="" class="input-group">
                                <div _ngcontent-hdu-c1="" class="input-group-prepend"><span _ngcontent-hdu-c1="" class="input-group-text"><i _ngcontent-hdu-c1="" class="now-ui-icons ui-1_email-85"></i></span></div>
                                <input _ngcontent-hdu-c1="" autocomplete="email" class="form-control" placeholder="Your Email..." type="text">
                            </div>
                            <div _ngcontent-hdu-c1="" class="form-check">
                                <label _ngcontent-hdu-c1="" class="form-check-label">
                                    <input _ngcontent-hdu-c1="" class="form-check-input" type="checkbox"><span _ngcontent-hdu-c1="" class="form-check-sign"></span> I agree to the terms and <a _ngcontent-hdu-c1="" href="#something">conditions</a>. </label>
                            </div>
                            <div _ngcontent-hdu-c1="" class="card-footer text-center"><a _ngcontent-hdu-c1="" class="btn btn-primary btn-round btn-lg" href="#pablo">Get Started</a></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>