<app-navbar></app-navbar>
<!--Note that the wrapper is mandatory by the UI kit to render properly-->
<div class="wrapper">
  <div id="carouselExampleIndicators" class="carousel slide">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1" class=""></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2" class=""></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <div class="page-header header-filter">
          <div class="page-header-image"
               style="background-image: url('assets/img/app/products/carousel[1].jpg');"></div>
          <div class="content-center text-center">
            <div class="row">
              <div class="col-md-8 ml-auto mr-auto">
                <h1 class="title">Finding the Perfect.</h1>
                <h4 class="description text-white">Vehicle</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="page-header header-filter">
          <div class="page-header-image"
               style="background-image: url('assets/img/app/products/carousel[2].jpg');"></div>
          <div class="content-center">
            <div class="row">
              <div class="col-md-8 ml-auto mr-auto text-center">
                <h1 class="title">Sell your unused</h1>
                <h4 class="description text-white">Gadgets</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="page-header header-filter">
          <div class="page-header-image"
               style="background-image: url('assets/img/app/products/carousel[3].jpg');"></div>
          <div class="content-center text-center">
            <div class="row">
              <div class="col-md-8 ml-auto mr-auto">
                <h1 class="title">Play the games you like</h1>
                <h4 class="description text-white">for less</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <i class="now-ui-icons arrows-1_minimal-left"></i>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <i class="now-ui-icons arrows-1_minimal-right"></i>
    </a>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">

      </div>
      <div class="col-md-9">
        <div class="row" style='padding: 0px 20px'>
          <div class="col-md-4" *ngFor="let product of products">
            <div class="card main-card">
              <div class="card card-background" [ngStyle]="{ 'background-image': 'url(' + product.image + ')'}"
                   style="background-size: cover; margin-bottom: 0;">
                <div class="myfooter">
                  <div class="card-footer text-left">
                    <div class="stats">
                      <h4>{{product.last_auction_price}} TND</h4>
                      <span>{{product.end_date}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="stats" style="padding: 0px;">
                  <h4 class="card-title">{{product.name}}</h4>
                  <h5>Value: {{product.value}} TND</h5>
                </div>
                <p class="card-text">{{product.description}}</p>
                <hr>
                <div class="buttons-div">
                  <a [routerLink]="['/product/',product._id]" class="btn btn-primary" style="float: left">View
                    Details</a>
                  <a href="#" class="btn btn-danger" style="float: right">Watch</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
