.card-login {
  margin-top: 100px
}

img {
  -webkit-animation: filter-animation 8s infinite;
}

@-webkit-keyframes filter-animation {
  0% {
    -webkit-filter: sepia(2) saturate(8);
  }
  
  50% {
    -webkit-filter: sepia(0) saturate(3);
  }
  
  100% {
    -webkit-filter: sepia(2) saturate(8);
  }
}