<div class="row">
  <div class="col-md-12" >
    <div class="card card-stats">
      <div class="card-body" *ngIf="isAdmin()">
        <div class="row">
          <div class="col-md-3">
            <div class="statistics">
              <div class="info">
                <div class="icon icon-primary">
                  <i class="fas fa-boxes"></i>
                  <!--                  <i class="now-ui-icons ui-2_chat-round"></i>-->
                </div>
                <h3 class="info-title">{{products.length}}</h3>
                <h6 class="stats-title">Products</h6>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="statistics">
              <div class="info">
                <div class="icon icon-success">
                  <i class="fas fa-sign-in-alt"></i>
                </div>
                <h3 class="info-title">{{auctionsEntered}}</h3>
                <h6 class="stats-title">Auctions Entered</h6>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="statistics">
              <div class="info">
                <div class="icon icon-info">
                  <i class="fas fa-dolly"></i>
                </div>
                <h3 class="info-title">{{productsSold}}</h3>
                <h6 class="stats-title">Products Sold</h6>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="statistics">
              <div class="info">
                <div class="icon icon-danger">
                  <i class="fas fa-truck"></i>
                </div>
                <h3 class="info-title">{{productsBought}}</h3>
                <h6 class="stats-title">Products Bought</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
