<footer class="footer" [ngClass]="{'fixed-bottom': isFixed}">

  <div class=" container ">
    <nav>
      <ul>
        <li>
          <a routerLink="/">
            Home
          </a>
        </li>
        <li>
          <a routerLink="/products">
            Products
          </a>
        </li>
        <li>
          <a routerLink="/contact">
            Contact
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright" id="copyright">
      ©
      <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
      2020, Designed by <a href="https://github.com/count-down-rbk" target="_blank">CountDown Team</a>.
    </div>
  </div>
</footer>
