<div class="container ">
            <div class="card p-4">
              <div class="card-header ">
                <h4 class="card-title">Form Elements</h4>
              </div>
              <div class="card-body ">
                <form method="get" action="/" class="form-horizontal">
                  <div class="row">
                    <label class="col-sm-2 col-form-label">Product Name : </label>
                    <div class="col-sm-10">
                      <div class="form-group">
                        <input type="text" class="form-control">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <label class="col-sm-2 col-form-label">Starting Price :</label>
                    <div class="col-sm-10">
                      <div class="form-group">
                        <input type="password" class="form-control">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                        <label class="col-sm-2 col-form-label">Category</label>
                            <div class="col-sm-10">
                                <div class="form-group">
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                      </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card ">
                      <div class="card-header ">
                        <h4 class="card-title">Datetimepicker</h4>
                      </div>
                      <div class="card-body ">
                        <div class="form-group">
                          <input type="text" class="form-control datetimepicker" value="10/05/2016">
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
