<app-navbar></app-navbar>
<!--Note that the wrapper is mandatory by the UI kit to render properly-->
<div class="wrapper">
  <div class="header-1">
    <div class="page-header header-filter">
      <div class="page-header-shadow"></div>
      <div class="page-header-image"></div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-8 col-lg-6 text-left">
            <h1 class="title">Buy and Sell from anywhere</h1>
            <h4 class="description">The riding of waves has likely existed since humans began swimming in the ocean. In
              this sense, bodysurfing is the oldest type of wave-catching. Standing up on what is now called a surfboard
              is a relatively recent innovation developed by the Polynesians.</h4>
            <br>
            <div class="buttons">
              <a routerLink="/products" class="btn btn-primary btn-lg">
               Start Now
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
