<app-navbar></app-navbar>
<!--Note that the wrapper is mandatory by the UI kit to render properly-->
<div class="wrapper">
  <div class="header-1">
    <div class="page-header header-filter">
      <div class="page-header-shadow"></div>
      <div class="page-header-image"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-7 ml-auto text-right">
            <h1 class="title">Countdown <i class="now-ui-icons"></i><i class="now-ui-icons users_single-02"></i></h1>
            <h4 class="description">The riding of waves has likely existed since humans began swimming in the ocean. In
              this sense, bodysurfing is the oldest type of wave-catching. Standing up on what is now called a surfboard
              is a relatively recent innovation developed by the Polynesians.</h4>
            <br>

            <div class="buttons">
              <a href="#pablo" class="btn btn-icon btn-link btn-neutral btn-lg">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#pablo" class="btn btn-icon btn-link btn-neutral btn-lg">
                <i class="fab fa-facebook-square"></i>
              </a>
              <a href="#pablo" class="btn btn-icon btn-link btn-neutral btn-lg">
                <i class="fab fa-get-pocket"></i>
              </a>
              <a href="#pablo" class="btn btn-info btn-lg mr-3">
                Read More
              </a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
